<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="nav-icon icon-speedometer"></i> Dashboard
                <!--span class="badge badge-primary">NEW</span-->
            </a>
        </li>
        <li class="nav-title">Cl&iacute;nica / Hospital</li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon icon-drop"></i> Reg. de pacientes
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon icon-drop"></i> Consulta
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon icon-drop"></i> Expedientes cl&iacute;nicos
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon icon-drop"></i> Anamnesis
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon icon-drop"></i> Rdo. de vacunas
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon icon-drop"></i> Imagenes m&eacute;dicas
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon icon-drop"></i> Gesti&oacute;n de recetas
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon icon-drop"></i> Hospitalizaci&oacute;n
            </a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i> Servicios
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon icon-puzzle"></i> Baños y peluquer&iacute;a</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon icon-puzzle"></i> Traslado</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon icon-drop"></i> Ventas
            </a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">Clientes</li>
        <li class="nav-title">Ventas</li>
        <li class="nav-title">Articulos / Compra</li>
        <li class="nav-title">Proveedores</li>
        li.nav-item>a.nav-link>i.nav-icon.icon-drop

        <li class="nav-title">Gesti&oacute;n / Facturaci&oacute;n</li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-drop"></i> Doc. personalizados</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-drop"></i> Exportaci&oacute;n de datos</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-drop"></i> Factuaci&oacute;n de clientes</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-drop"></i> List. e info. de gesti&oacute;n</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-drop"></i> Formas de pago</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-drop"></i> Series de facturaci&oacute;n</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-drop"></i> Caja</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-drop"></i> Gesti&oacute;n de empleados</a></li>

        <li class="nav-title">Sistema</li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-drop"></i> Usuarios</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-drop"></i> Perfiles </a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-drop"></i> Acceso de seguridad</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-drop"></i> Copia de seguridad</a></li>
        <li class="nav-item"><a href="#" class="nav-link"> &nbsp;</a></li>
    </ul>
</nav>
<button class="sidebar-minimizer brand-minimizer" type="button"></button>