<div ng-controller="historiaController as vm">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Inicio</li>
        <li class="breadcrumb-item active">Lista de historias</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <b>Historias Clinicas de Pacientes</b>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-2">
                                <label for="txtDesde">Desde:</label>
                                <input type="text" id="txtDesde" class="form-control" maxlength="10" ng-maxlength="10" ng-model="vm.historiaBusqueda.Desde">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="txtHasta">Hasta:</label>
                                <input type="text" id="txtHasta" class="form-control" maxlength="10" ng-maxlength="10" ng-model="vm.historiaBusqueda.Hasta">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="txtNombreMascota">Nombre mascota:</label>
                                <input type="text" id="txtNombreMascota" class="form-control" placeholder="Nombre mascota...">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="txtCliente">Cliente:</label>
                                <input type="text" id="txtCliente" class="form-control" placeholder="Cliente...">
                            </div>
                            <div class="form-group col-md-1"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <p class="text-center">
                                    <button type="submit" class="btn btn-primary" id="btnBuscarHistoria">
                                        <i class="fa fa-search"></i> Buscar</button>
                                    <button type="button" class="btn btn-success" id="btnNuevaHistoria" ng-click="vm.nuevaHistoria()">
                                        <i class="fa fa-plus"></i> |
                                        <i class="fa fa-book"></i> Nueva Historia</button>
                                </p>
                            </div>
                        </div>
                    </form>
                    <table class="table table-responsive-sm table-hover table-outline mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center">
                                    <i class="fa fa-paw"></i>
                                </th>
                                <th class="text-center">Mascota</th>
                                <th>Dueño</th>
                                <th>Usuario</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tboby>
                            <tr>
                                <td class="text-center">
                                    <div class="avatar">
                                        <img src="Assets/img/avatars/1.jpg" alt="nombre" class="img-avatar">
                                    </div>
                                </td>
                                <td>
                                    <div>Cutu</div>
                                    <div class="small text-muted">
                                        <span>Macho</span> | Registrado: 30/06/2015
                                    </div>
                                </td>
                                <td>Juan Valdéz de la Roque</td>
                                <td>hugo.roca</td>
                                <td>
                                    <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i> Ver Historia</button>
                                </td>
                            </tr>
                        </tboby>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    callCalendario('txtDesde', 'bottom');
    callCalendario('txtHasta', 'bottom');

    callMascara('txtDesde', '99/99/9999');
    callMascara('txtHasta', '99/99/9999');
</script>