<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a href="" class="nav-link" ui-sref="dashboard" ui-sref-active="active">
                <i class="nav-icon icon-speedometer"></i> Dashboard
                <span class="badge badge-primary">PRINCIPAL</span>
            </a>
        </li>
        <li class="nav-title">Cl&iacute;nica / Hospital</li>
        <li class="nav-item"><a href="" ui-sref="pacientes" ui-sref-active="active" class="nav-link"><i class="nav-icon icon-note"></i> Reg. de pacientes</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-plus"></i> Consulta</a></li>
        <li class="nav-item"><a href="" ui-sref="historia" ui-sref-active="active" class="nav-link"><i class="nav-icon fa fa-folder-o"></i> Expedientes cl&iacute;nicos</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-comments-o"></i> Anamnesis</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-calendar"></i> Rdo. de vacunas</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-file-image-o"></i> Imagenes m&eacute;dicas</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-file-text"></i> Ges. de recetas</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-hospital-o"></i> Hospitalizaci&oacute;n</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-s15"></i> Baños y peluquer&iacute;a</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-automobile"></i> Traslado</a></li>

        <li class="divider"></li>
        <li class="nav-title">Clientes</li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-user"></i> Ges. de clientes</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-bar-chart"></i> Ges. cobros/deudas</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-money"></i> Presupuestos</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-users"></i> Ges. casos referidos</a></li>

        <li class="divider"></li>
        <li class="nav-title">Ventas</li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-shopping-basket"></i> Ventas</a></li>


        <li class="divider"></li>
        <li class="nav-title">Art&iacute;culos / Compra</li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-cubes"></i> Ges. de art&iacute;culos</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-gears"></i> Control de stock</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-qrcode"></i> C&oacute;digos QR</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-line-chart"></i> Incremento de precios</a></li>
        
        <li class="divider"></li>
        <li class="nav-title">Proveedores</li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-truck"></i> Ges. de proveedores</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-archive"></i> Pedidos</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-cart-arrow-down"></i> Gastos</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-copy"></i> Facturas de compra</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-paste"></i> Venc. de facturas</a></li>

        <li class="divider"></li>
        <li class="nav-title">Gesti&oacute;n / Facturaci&oacute;n</li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-file-o"></i> Doc. personalizados</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-book"></i> Factuaci&oacute;n de clientes</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon icon-drop"></i> List. e info. de gesti&oacute;n</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-credit-card-alt"></i> Formas de pago</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-hashtag"></i> Series de facturaci&oacute;n</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-dollar"></i> Caja</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-male"></i> Ges. de empleados</a></li>

        <li class="divider"></li>
        <li class="nav-title">Sistema</li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-user-circle-o"></i> Usuarios</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-vcard-o"></i> Perfiles </a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-unlock-alt"></i> Acceso de seguridad</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="nav-icon fa fa-save"></i> Copia de seguridad</a></li>
        <li class="nav-item"><a href="#" class="nav-link"> &nbsp;</a></li>
    </ul>
</nav>
<button class="sidebar-minimizer brand-minimizer" type="button"></button>